<h1 mat-dialog-title class="text-center">Job Ad classification</h1>

<p mat-dialog-content class="text-center">
  This job ad is <b>{{ fraudulence ? "fraudulent" : "not fraudulent" }}</b
  >.
</p>
<div mat-dialog-actions class="justify-content-center">
  <button mat-raised-button (click)="onClick()">Close</button>
</div>
