.mat-dialog-container mat-form-field {
  width: 100%;
  justify-content: left;
}

.mat-dialog-container label {
  width: 100%;
  justify-content: left;
}

.mat-dialog-container {
  width: 30em !important;
  justify-content: end;
}

.mat-dialog-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
