<header class="page-header">
  <h1 class="page-titles ml-2" style="display: inline-block">Check job ad</h1>
</header>

<mat-card class="create-grid-card">
  <form
    *ngIf="formGroup"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
    class="create-grid-form"
  >
    <h3 class="grid-form-subtitle">Basic info</h3>

    <div class="d-flex">
      <div class="d-block grid-inline-input">
        <label class="grid-form-label">
          Title<span class="required-asterisk">*</span>
        </label>
        <mat-form-field appearance="outline" class="mb-2 w-100">
          <div class="d-flex">
            <input
              class="d-inline-block"
              type="text"
              matInput
              formControlName="title"
            />
          </div>
          <mat-error>
            {{ getErrorMessage(formGroup.controls["title"], "Title") }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-block grid-inline-input">
        <label class="grid-form-label"
          >Location<span class="required-asterisk">*</span></label
        >
        <mat-form-field appearance="outline" class="mb-2 w-100">
          <div class="d-flex">
            <input
              class="d-inline-block"
              type="text"
              matInput
              formControlName="location"
            />
          </div>
          <mat-error>
            {{ getErrorMessage(formGroup.controls["location"], "Location") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="grid-form-subtitle">Details</h3>
    <div class="d-flex">
      <div class="d-block grid-inline-input">
        <label class="grid-form-label"
          >Department<span class="required-asterisk">*</span></label
        >
        <mat-form-field appearance="outline" class="mb-2 w-100">
          <div class="d-flex">
            <input
              class="d-inline-block"
              type="text"
              matInput
              formControlName="department"
            />
          </div>
          <mat-error>
            {{
              getErrorMessage(formGroup.controls["department"], "Department")
            }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-block grid-inline-input">
        <label class="grid-form-label"
          >Industry<span class="required-asterisk">*</span></label
        >
        <mat-form-field appearance="outline" class="mb-2 w-100">
          <div class="d-flex">
            <input
              class="d-inline-block"
              type="text"
              matInput
              formControlName="industry"
            />
          </div>
          <mat-error>
            {{ getErrorMessage(formGroup.controls["industry"], "Industry") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="grid-textarea">
      <label class="grid-form-label"
        >Benefits<span class="required-asterisk">*</span></label
      >
      <mat-form-field appearance="outline" class="mb-2 w-100">
        <div class="d-flex">
          <textarea
            class="d-inline-block"
            placeholder="Please enter offered benefits"
            matInput
            formControlName="benefits"
          ></textarea>
        </div>
        <mat-error>
          {{ getErrorMessage(formGroup.controls["benefits"], "Benefits") }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="grid-textarea">
      <label class="grid-form-label"
        >Company profile<span class="required-asterisk">*</span></label
      >
      <mat-form-field appearance="outline" class="mb-2 w-100">
        <div class="d-flex">
          <textarea
            class="d-inline-block"
            placeholder="Please enter company description"
            matInput
            formControlName="companyProfile"
          ></textarea>
        </div>
        <mat-error>
          {{
            getErrorMessage(
              formGroup.controls["companyProfile"],
              "Company profile"
            )
          }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="grid-textarea">
      <label class="grid-form-label"
        >Requirements<span class="required-asterisk">*</span></label
      >
      <mat-form-field appearance="outline" class="mb-2 w-100">
        <div class="d-flex">
          <textarea
            class="d-inline-block"
            placeholder="Please enter job requirements"
            matInput
            formControlName="requirements"
          ></textarea>
        </div>
        <mat-error>
          {{
            getErrorMessage(formGroup.controls["requirements"], "Requirements")
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex">
      <div class="d-block grid-inline-input">
        <label class="grid-form-label"
          >Required experience<span class="required-asterisk">*</span></label
        >
        <mat-form-field appearance="outline" class="mb-2 w-100">
          <div class="d-flex">
            <input
              class="d-inline-block"
              type="text"
              matInput
              formControlName="requiredExperience"
            />
          </div>
          <mat-error>
            {{
              getErrorMessage(
                formGroup.controls["requiredExperience"],
                "Required experience"
              )
            }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-block grid-inline-input">
        <label class="grid-form-label"
          >Required education<span class="required-asterisk">*</span></label
        >
        <mat-form-field appearance="outline" class="mb-2 w-100">
          <div class="d-flex">
            <input
              class="d-inline-block"
              type="text"
              matInput
              formControlName="requiredEducation"
            />
          </div>
          <mat-error>
            {{
              getErrorMessage(
                formGroup.controls["requiredEducation"],
                "Required education"
              )
            }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <h3 class="grid-form-subtitle">Additional information</h3>

    <div class="grid-textarea">
      <label class="grid-form-label"
        >Description<span class="required-asterisk">*</span></label
      >
      <mat-form-field appearance="outline" class="mb-2 w-100">
        <div class="d-flex">
          <textarea
            matInput
            formControlName="description"
            placeholder="Please enter job description"
          ></textarea>
        </div>
        <mat-error>
          {{
            getErrorMessage(formGroup.controls["description"], "Description")
          }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex">
      <div class="d-block grid-inline-input">
        <label class="grid-form-label"
          >Employment type<span class="required-asterisk">*</span></label
        >
        <mat-form-field appearance="outline" class="mb-2 w-100">
          <div class="d-flex">
            <input
              class="d-inline-block"
              type="text"
              matInput
              formControlName="employmentType"
            />
          </div>
          <mat-error>
            {{
              getErrorMessage(
                formGroup.controls["employmentType"],
                "Employment type"
              )
            }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="d-block grid-inline-input">
        <label class="grid-form-label">
          Function<span class="required-asterisk">*</span>
        </label>
        <mat-form-field appearance="outline" class="mb-2 w-100">
          <div class="d-flex">
            <input
              class="d-inline-block"
              type="text"
              matInput
              formControlName="function"
            />
          </div>
          <mat-error>
            {{ getErrorMessage(formGroup.controls["function"], "Function") }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex space-around">
      <mat-slide-toggle
        [checked]="formGroup.value['telecommuting']"
        (change)="toggle('telecommuting')"
      >
        Telecommuting
      </mat-slide-toggle>
      <mat-slide-toggle
        [checked]="formGroup.value['hasQuestions']"
        (change)="toggle('hasQuestions')"
      >
        Has questions
      </mat-slide-toggle>
      <mat-slide-toggle
        [checked]="formGroup.value['hasCompanyLogo']"
        (change)="toggle('hasCompanyLogo')"
      >
        Has company logo
      </mat-slide-toggle>
    </div>
  </form>
  <div class="d-flex justify-content-center">
    <p>{{ errorCode ? "An error has occured with code " + errorCode : "" }}</p>
  </div>

  <div class="d-flex justify-content-end">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Check
    </button>
  </div>
</mat-card>
