.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
.page-titles {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
  font-weight: normal;
  color: #3e3e3e;
  line-height: 1em;
  letter-spacing: normal;
  margin: 0;
  word-break: break-word;
}

.create-grid-card {
  width: 54.19em;
  height: auto;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.15) !important;
  background-color: #fff;
}

.create-grid-form {
  width: auto;
  padding: 1.875em 2.75em 2.75em 2.625em;
}
.grid-form-subtitle {
  padding: 0;
  margin: 0.4em 0 1em 0;
  font-size: 1em;
  font-weight: bold;
  color: #673ab7;
}
.grid-form-label {
  font-size: 0.8em;
  font-weight: bold;
  color: #3e3e3e;
  line-height: 1em;
  letter-spacing: 0em;
  margin: 0 0 0.375em 0;
}

.grid-inline-input {
  padding-right: 3em;
  width: 20em;
}
.required-asterisk {
  color: #ca2f33;
}

.grid-textarea {
  width: 43em;
}
.grid-textarea textarea {
  min-height: 5em;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(211, 211, 211);
}

.space-around {
  justify-content: space-around;
}
