.justify-content-end {
  justify-content: end;
}
.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.mb-2 {
  margin-bottom: 1 rem !important;
}
.ml-2 {
  margin-left: 1 rem !important;
}
.w-100 {
  width: 100% !important;
}
